# IDE settings
.idea/
.vscode/

# Node dependencies
/backend/node_modules/
frontend/node_modules/
node_modules/

# Logs
logs/
*.log
logs/*.json

# Environment variables
.env
.env.*
backend/.env
frontend/.env*
**/.env*
frontend/dist